.big-title {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  margin: 20px 20px 50px 20px;
}

.centered {
  text-align: center;
}

.bloc {
  padding: 40px;
}

.border-top {
   border-top: 3px solid #999;
}

#bank-money, #user-money {
  font-weight: bold;
}

.jumbotron {
  margin-bottom: -5px !important;
}

.vertical-margin {
  margin: 30px 0px 30px 0px;
}

#result {
  padding: 20px;
  font-weight: bold;
}
