h1 {
  font-family: 'Codystar', cursive;
  font-size: 100px;
}

img {
  max-width: 260px;
  max-height: 260px;
}

#data {
  margin-bottom: 20px;
  margin-top: 20px;
}

.card {
  margin: 10px !important;
  padding: 10px;
  min-width: 300px;
  text-align: center;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
